[defaults]
# Aponta para o meu inventário automaticamente
inventory = configuration/inventory/hosts.ini
# Evita ficar perguntando "yes" para cada host novo
host_key_checking = False
# Silencia avisos chatos
interpreter_python = auto_silent
# Carrega automaticamente variáveis dos group_vars e descriptografa arquivos SOPS
vars_plugins_enabled = host_group_vars, community.sops.sops
