services:
  relay:
    image: scsibug/nostr-rs-relay:latest
    container_name: nostr-relay
    restart: unless-stopped
    user: "1000:1000" # Roda como usuário padrão para evitar problemas de permissão no SQLite
    volumes:
      - ./data:/var/lib/nostr-rs-relay
      - ./config/config.toml:/usr/src/app/config.toml:ro
    environment:
      - RUST_LOG=info
    networks:
      - tor-net
      - proxy
    # Labels do Traefik (Acesso Local Seguro via wss://nostr.home)
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.nostr.rule=Host(`nostr.home`)"
      - "traefik.http.routers.nostr.entrypoints=websecure"
      - "traefik.http.routers.nostr.tls=true"
      - "traefik.http.services.nostr.loadbalancer.server.port=8080"

  tor:
    image: osminogin/tor-simple:latest
    container_name: nostr-tor
    restart: unless-stopped
    # Tor precisa ser root inicialmente para definir permissões na pasta hidden_service
    # Depois ele faz drop privilege automaticamente.
    user: root
    volumes:
      - ./config/torrc:/etc/tor/torrc:ro
      - ./tor-keys:/var/lib/tor/hidden_service/
    networks:
      - tor-net
    depends_on:
      - relay

networks:
  tor-net:
    driver: bridge
  proxy:
    external: true # Conecta no Traefik
