---
- name: Setup Application Services
  hosts: dockerhost
  become: yes

  vars_files:
    - _vars_common.yml

  vars_prompt:
    - name: vaultwarden_role_id
      prompt: "VAULTWARDEN RoleID"
      private: yes
    - name: vaultwarden_secret_id
      prompt: "VAULTWARDEN SecretID"
      private: yes

  tasks:
    # --- WHOAMI ---
    - name: Sync Whoami
      synchronize:
        src: "../../dockerhost/services/whoami/"
        dest: "{{ base_dir }}/whoami/"
        recursive: yes

    - name: Start Whoami
      community.docker.docker_compose_v2:
        project_src: "{{ base_dir }}/whoami"
        state: present

    # --- NOSTR ---
    - name: Sync Nostr Stack
      synchronize:
        src: "../../dockerhost/services/nostr/"
        dest: "{{ base_dir }}/nostr/"
        delete: yes
        recursive: yes
        rsync_opts:
          - "--chmod=D0755,F0644"
          - "--chown={{ ansible_user }}:{{ ansible_user }}"
          - "--exclude=tor-keys/**"

    - name: Corrigir permissões da pasta Tor Keys
      file:
        path: "{{ base_dir }}/nostr/tor-keys"
        state: directory
        owner: "root"
        group: "root"
        mode: '0700'

    - name: Start Nostr Stack
      community.docker.docker_compose_v2:
        project_src: "{{ base_dir }}/nostr"
        state: present

    # --- VAULTWARDEN ---
    - name: Sync Vaultwarden
      synchronize:
        src: "../../dockerhost/services/vaultwarden/"
        dest: "{{ base_dir }}/vaultwarden/"
        recursive: yes
        rsync_opts:
          - "--exclude=.env"
          - "--exclude=data/"

    - name: Tornar script start-with-vault executável
      file:
        path: "{{ base_dir }}/vaultwarden/start-with-vault.sh"
        mode: '0755'

    - name: Gravar Vaultwarden RoleID
      copy:
        content: "{{ vaultwarden_role_id }}"
        dest: "/etc/vault/vaultwarden.roleid"
        owner: root
        group: root
        mode: '0600'
    - name: Gravar Vaultwarden SecretID
      copy:
        content: "{{ vaultwarden_secret_id }}"
        dest: "/etc/vault/vaultwarden.secretid"
        owner: root
        group: root
        mode: '0600'

    - name: Instalar Vaultwarden Systemd Service
      copy:
        src: "../../dockerhost/services/vaultwarden/vaultwarden-vault.service"
        dest: "/etc/systemd/system/vaultwarden-vault.service"
        mode: '0644'
      notify: Reload Systemd

    - name: Habilitar e Iniciar Vaultwarden com Vault
      service:
        name: vaultwarden-vault
        state: started
        enabled: yes

    # --- ACTUAL BUDGET ---
    - name: Sync Actual Budget
      synchronize:
        src: "../../dockerhost/services/actualbudget/"
        dest: "{{ base_dir }}/actualbudget/"
        recursive: yes
        rsync_opts:
          - "--chmod=D0755,F0644"
          - "--chown={{ ansible_user }}:{{ ansible_user }}"
          - "--exclude=data/"

    - name: Garantir diretório de dados do Actual Budget
      file:
        path: "{{ base_dir }}/actualbudget/data"
        state: directory
        mode: '0755'
        owner: "root" 
        group: "root"

    - name: Start Actual Budget
      community.docker.docker_compose_v2:
        project_src: "{{ base_dir }}/actualbudget"
        state: present

    # --- SYNCTHING ---
    - name: Sync Syncthing Config
      synchronize:
        src: "../../dockerhost/services/syncthing/"
        dest: "{{ base_dir }}/syncthing/"
        recursive: yes
        rsync_opts:
          - "--chmod=D0755,F0644"
          - "--chown={{ ansible_user }}:{{ ansible_user }}"
          - "--exclude=config/" # Preserva configs geradas pelo app

    - name: Garantir permissões na pasta de Config
      file:
        path: "{{ base_dir }}/syncthing/config"
        state: directory
        owner: "1000" # usuário fajre
        group: "1000"
        mode: '0755'
        recurse: yes

    - name: Garantir permissões no Mountpoint de Dados
      file:
        path: "/mnt/syncthing"
        state: directory
        owner: "1000"
        group: "1000"
        mode: '0755'

    - name: Start Syncthing
      community.docker.docker_compose_v2:
        project_src: "{{ base_dir }}/syncthing"
        state: present

    # --- FILE BROWSER ---
    - name: Sync File Browser Stack
      synchronize:
        src: "../../dockerhost/services/filebrowser/"
        dest: "{{ base_dir }}/filebrowser/"
        recursive: yes
        rsync_opts:
          - "--chmod=D0755,F0644"
          - "--chown={{ ansible_user }}:{{ ansible_user }}"
          - "--exclude=filebrowser.db" # Preserva o banco de dados

    - name: Garantir arquivos de config do File Browser
      file:
        path: "{{ item }}"
        state: touch
        owner: "1000"
        group: "1000"
        mode: '0644'
        modification_time: preserve
        access_time: preserve
      loop:
        - "{{ base_dir }}/filebrowser/filebrowser.db"
        - "{{ base_dir }}/filebrowser/settings.json"

    - name: Start File Browser
      community.docker.docker_compose_v2:
        project_src: "{{ base_dir }}/filebrowser"
        state: present

  handlers:
    - name: Reload Systemd
      systemd:
        daemon_reload: yes
