---
- name: Hardening dos LXCs Alpine
  hosts: management, adguard
  become: yes

  tasks:
    # --- PACOTES (APK) ---
    - name: Atualizar repositórios e pacotes do Alpine
      apk:
        update_cache: yes
        upgrade: yes

    - name: Instalar ferramentas essenciais
      apk:
        name:
          - curl
          - wget
          - git
          - htop
          - ncdu
          - fastfetch # Tem que ter :D
          - sudo
          - vim
          - openssh
          - bash
          - shadow # Necessário para gestão de usuários/senhas
        state: present

    # --- TIMEZONE (Alpine) ---
    - name: Configurar Timezone (Instalar tzdata e ajustar localtime)
      block:
        - name: Instalar pacote tzdata
          apk:
            name: tzdata
            state: present
            update_cache: yes

        - name: Copiar arquivo de zona para localtime
          copy:
            src: "/usr/share/zoneinfo/America/Sao_Paulo"
            dest: "/etc/localtime"
            remote_src: yes

        - name: Definir timezone em texto
          copy:
            content: "America/Sao_Paulo\n"
            dest: "/etc/timezone"

    # --- SSH HARDENING (Alpine) ---
    - name: Hardening SSH - Desativar Login Root
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^#?PermitRootLogin'
        line: 'PermitRootLogin prohibit-password'
        state: present
      notify: Restart SSH

    - name: Hardening SSH - Desativar Autenticação por Senha
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^#?PasswordAuthentication'
        line: 'PasswordAuthentication no'
        state: present
      notify: Restart SSH

    # --- USUÁRIOS E SUDO ---
    - name: Configurar sudo sem senha para grupo wheel
      lineinfile:
        path: /etc/sudoers
        regexp: '^# %wheel ALL=\(ALL\) NOPASSWD: ALL'
        line: '%wheel ALL=(ALL) NOPASSWD: ALL'
        validate: 'visudo -cf %s'

    # --- SERVIÇOS (Correção para Alpine) ---
    # Alpine Linux (OpenRC) tem que mandar o serviço viver, diferente do (Systemd) que geralmente já inicia e habilita o serviço sozinho
    - name: Garantir que SSHD inicie no boot e esteja rodando
      service:
        name: sshd
        state: started
        enabled: yes

  handlers:
    - name: Restart SSH
      service:
        name: sshd
        state: restarted
